.hero-section {
  background-color: #fdf8f7;
  overflow: hidden;
}

.row {
  margin: 0;
}

.hero-text {
  max-width: 100%;
  margin-top: 100px;
  padding: 0 0 150px;
  /* height: 600px; */
}
.hero-text span {
  color: #fd6e0a;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
}

.hero-text h1 {
  color: #15295f;
  font-size: 75px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 10px;
}

.hero-text h3 {
  color: #15295f;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}

.hero-text p {
  margin: 20px 0 50px;
}

.hero-btn-container {
  display: flex;
  gap: 15px;
  align-items: center;
}


@media only screen and (max-width: 992px) {
    .hero-text h1{
        font-size: 60px;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 768px){
    .hero-text {
      max-width: 100%;
    }
}
