* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* overflow: hidden; */
}

p{
    font-size: 1rem;
    color: #6f6b80;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  padding: 0;
}

.primary-btn {
  background-color: #fd6e0a;
  border: 2px solid transparent;
  color: #ffffff;
}

.secondary-btn {
  border: 2px solid #fd6e0a;
  color: #fd6e0a;
}
